@{
    ViewBag.Title = "Tutorial";
}

<h2>Tutorial</h2>

<h3>Building<h3/>
<p>
You will need to download the following package for MVC4 development:
http://www.microsoft.com/en-gb/download/details.aspx?id=30683
</p>
<p>
You may need to restore the missing nuget packages using the nuget package manager console.
</p>
<p>Build and hit F5.</p>
<p>Navigate to localhost:(some port)/Knockout.</p>
