@{
    ViewBag.Title = "Tutorial";
}

<h2>Tutorial</h2>

<h3>Building<h3/>
<p>
You will need to download the following package for MVC4 development:
http://www.microsoft.com/en-gb/download/details.aspx?id=30683
You may need to restore the missing nuget packages using the nuget package manager console.
Build and nit F5.
Navigate to localhost:(some port)/Knockout.
</p>