@{
    ViewBag.Title = "Knockout";
}

<h2>Knockout</h2>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/knockout-2.1.0.js")

<div class="panel panel-default">
  <div class="panel-body">
    <button type="submit" class="btn btn-default" data-bind="click: pickFirstSandwichChoice">
        <span class="glyphicon glyphicon-refresh"></span>
    </button>
    <span data-bind="text: sandwichChoice"></span>
  </div>
</div>


<h3>Available Choices</h3>
<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr><th>Name</th><th>Flavour Rating</th><th>Ingredients</th><th>Priority</th><th>Invented By</th></tr>
    </thead>
    <tbody data-bind="foreach: sandwiches">
        <tr>
            <td data-bind="text: Name"></td>
            <td data-bind="text: FlavourRating"></td>
            <td data-bind="text: Ingredients"></td>
            <td data-bind="text: Priority"></td>
            <td data-bind="text: InventedBy"></td>
        </tr>
    </tbody>
</table>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Preview</h3>
  </div>
  <div class="panel-body">
    <div class="row">
        <div class="col-md-4"><h5>Name:</h5><span data-bind="text: newChoiceName"></span></div>
        <div class="col-md-4"><h5>Ingredients:</h5><span data-bind="text: newChoiceIngredients"></span></div>
        <div class="col-md-4"><h5>InventedBy:</h5><span data-bind="text: newChoiceInventedBy"></span></div>
        <div class="col-md-4"><h5>Priority:</h5><span data-bind="text: newChoicePriority"></span></div>
        <div class="col-md-4"><h5>Flavour Rating:</h5><span data-bind="text: newChoiceFlavourRating"></span></div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add choice</h3>
  </div>
  <div class="panel-body">
    <label class="sr-only" for="inputName">Name</label>
    <input type="text" class="form-control" id="inputName" placeholder="Sandwich Name"
    data-bind="value: newChoiceName, valueUpdate: 'afterkeydown'">
  </div>
  <div class="panel-body">
    <label class="sr-only" for="inputIngredients">Ingredients</label>
    <input type="text" class="form-control" id="inputIngredients" placeholder="Sandwich Ingredients"
    data-bind="value: newChoiceIngredients, valueUpdate: 'afterkeydown'">
  </div>
    <div class="panel-body">
    <label class="sr-only" for="inputInventedBy">Invented By</label>
    <input type="text" class="form-control" id="inputInventedBy" placeholder="Invented By"
    data-bind="value: newChoiceInventedBy, valueUpdate: 'afterkeydown'">
  </div>
    <div class="panel-body">
    <label class="sr-only" for="inputPriority">Prioirty</label>
    <input type="text" class="form-control" id="inputPriority" placeholder="Priority"
    data-bind="value: newChoicePriority, valueUpdate: 'afterkeydown'">
  </div>
  <div class="panel-body">
    <label class="sr-only" for="inputFlavourRating">Flavour Rating</label>
    <input type="text" class="form-control" id="inputFlavourRating" placeholder="Flavour Rating"
    data-bind="value: newChoiceFlavourRating, valueUpdate: 'afterkeydown'">
  </div>
  <div class="panel-body">
    <button class="btn btn-default" data-bind="click: addSandwich">Add</button>
  </div>
</div>

<script>
    var ViewModel = {
        sandwichChoice: ko.observable("Click to pick..."),
        sandwiches: ko.observableArray(),

        newChoiceName: ko.observable("Ham"),
        newChoiceIngredients: ko.observable("Ham"),
        newChoiceInventedBy: ko.observable("Charles"),
        newChoicePriority: ko.observable(2),
        newChoiceFlavourRating: ko.observable(2),

        pickFirstSandwichChoice: function () {
            this.sandwichChoice(this.sandwiches()[0].Name);
        },

        addSandwich: function () {

            var newSandwich = {
                Name: this.newChoiceName(),
                Ingredients: this.newChoiceIngredients(),
                InventedBy: this.newChoiceInventedBy(),
                Priority: this.newChoicePriority(),
                FlavourRating: this.newChoiceFlavourRating(),
                ID: 0
            };

            $.ajax({
                url: "/api/Sandwich/",
                type: "POST",
                data: JSON.stringify(newSandwich),
                datatype: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    alert(result);
                }
            });
        }
    }

    ko.applyBindings(ViewModel);

    $(document).ready(function () {
        $("h2").text("Document Loaded");

        $.getJSON("/api/Sandwich").done(function (json) {
            $("h2").text("Sandwiches loaded");
            ViewModel.sandwiches(json);
        });
    });
</script>
