@{
    ViewBag.Title = "Tutorial";
}

<h2>Tutorial</h2>

<h3>Building<h3/>
<p>
You will need the MVC tooling installed.
    You may need to restore the missing nuget packages using the nuget package manager console.
    Build and nit F5.
    Navigate to localhost:(some port)/Knockout.
</p>